@using SpfInventaire.Core.DAL.ViewModels
@model FormEnginViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modification</h2>

@Html.Partial("_FormEngin", Model)

<div>
    @Html.ActionLink("Liste des Engins", "Index")
</div>