@{
    ViewBag.Title = "Confirmation Mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Merci de vérifier votre boite mail pour la réinitialisation de votre Mot de Passe.
    </p>
</div>
	
