@{
    ViewBag.Title = "Confirmation réinitialisation ";
}

<hgroup class="title">
    <h1>Confirmation réinitialisation </h1>
</hgroup>
<div>
    <p>
       Votre mot de passe a été réinitialisé. Merci @Html.ActionLink("de cliquer ici pou vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
