@using SpfInventaire.Core.DAL.ViewModels
@model FormTicketIncidentViewModels

@using (Ajax.BeginForm("AjaxCreate", "TicketIncident", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divFormulaire", OnSuccess = "SuccessPostFormTicket(data)" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="divFormulaire">
            @Html.Partial("_FormContenuTicket", Model)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </div>

    </div>

}

<script type="text/javascript">
    //Fonction de success de la PopUpModal
    function SuccessPostFormTicket(data) {
        if (data.indexOf("field-validation-error") > -1) return;

        var options = {
            };

        modalPopUpInstance.close(options);
    }
</script>

