@using SpfInventaire.Core.DAL.ViewModels
@model FormTicketIncidentViewModels

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modification</h2>

@Html.Partial("_FormTicket", Model)

<div>
    @Html.ActionLink("Liste des Incidents", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/AjaxService")
    @Scripts.Render("~/bundles/TicketForm")

    <script>
        $(document).ready(function () {
            TicketForm = new TicketForm();
        });
    </script>
}