@if (ViewBag.ErrorMessage != null)
{
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="alert alert-danger fade in" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Erreur: </strong>@ViewBag.ErrorMessage
            </div>
        </div>
    </div>
}
