@using SpfInventaire.Core.DAL.ViewModels
@model FormTypeMaterielViewModels


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Type Matériel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model.isEdit)
        {
            @Html.HiddenFor(model => model.unTypeMateriel.ID)
        }

        @Html.Partial("_FormContenuTypeMateriel", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Model.isEdit)
                {
                    <input type="submit" value="Enregistrer" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Créer" class="btn btn-primary" />
                }
            </div>
        </div>


    </div>
}

