@using SpfInventaire.Core.DAL.ViewModels
@model FormTypeMaterielViewModels

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Création</h2>

@Html.Partial("_FormTypeMateriel", Model)

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>
