<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sp2f.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sp2f.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sp2f</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Popeye6969</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InventaireContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pj32w4jwn9.database.windows.net,1433;Initial Catalog=sp2fAoi3vbOsk1Bh;User ID=Popeye6969@pj32w4jwn9;Password=Chorasoumam18" Name="Data Source=tcp:pj32w4jwn9.database.windows.net,1433;Initial Catalog=sp2fAoi3vbOsk1Bh;User Id=Popeye6969@pj32w4jwn9;Password=Chorasoumam18" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SpfInventaire.Core.DAL.InventaireContext, SpfInventaire.Core" MigrationConfiguration="SpfInventaire.Core.Migrations.Configuration, SpfInventaire.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InventaireContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pj32w4jwn9.database.windows.net,1433;Initial Catalog=sp2fAoi3vbOsk1Bh;User Id=Popeye6969@pj32w4jwn9;Password=Chorasoumam18</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>